<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}">
<head>
  <title>GreenBridge</title>
</head>
<body>
  <section layout:fragment="content">
    <h1>Aggiungiti al nostro sito!</h1>
    <form th:action="@{/new-user}"  method="post" th:object="${user}">
        <label for="email">email</label>
        <input type="text" id="email" th:field="*{email}">
        <label for="password">password</label>
        <input type="password" id="password" th:field="*{password}">
        <button type="submit">submit!</button>
    </form>
    <script>
      try {
          
      } catch {

      }
    </script>
  </section>
</body>
</html>